@import 'nib'
@import 'variables'
@import 'base'
@import 'animations'
@import 'field'
@import 'game'
// @import 'buttons'

body
  margin 0
  color MIDDLE_GRAY
  border-top 4px solid DARK_GRAY
  font-family 'Open Sans', sans-serif
