.field
  .color
    float left
    transition all .1s linear

  .your-color
    height 20px

  .player0
    background-color #9e9e9e

  .player1
    background-color purple

  .color0
    background-color #E54661

  .color1
    background-color #FFA644

  .color2
    background-color #998A2F

  .color3
    background-color #2C594F

  .color4
    background-color #002D40

  .highlight
    opacity .4
